<ion-view title="Current Incidents" >

  <ion-content class="has-header tabs-item-hide">
    <!-- <h4 style="text-align: center;">Choose one category please</h4> -->
    <ion-list style="border: none">
			<ion-item ng-repeat="incident in incidents" type="item-text-wrap">
      	<img src="img/{{incident.parentCategory.name}}.png" style="width: 25px; display: block; float: left">
        <span style = "padding-left: 10px">{{incident.parentCategory.name}}: </span>
        <span>{{incident.subcategory.name}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>