<ion-view title="MARS">

	<ion-view>
	  <ion-nav-buttons side="right">
	   <button menu-toggle="right" class="button button-icon icon ion-navicon" ng-click = "switchView()"></button>
	  </ion-nav-buttons>
	 ...
	</ion-view>

  <ion-content scroll = 'false' class="has-header">
	<google-map center="map.center" zoom="map.zoom" options="{'draggable':true, 'zoomControl':true, 'scrollwheel': true, 'streetViewControl': false}">
		<marker coords='map.center' icon="'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=U%7C0000FF%7CFFFFFF'"></marker>
		

		<marker ng-repeat="circle in circles" coords='circle.location' icon="'/img/crime-marker.png'"></marker>
	</google-map>
  </ion-content>
</ion-view>