/* Empty. Add your own CSS if you like */
.commentBox {
	padding-bottom: 100px;
}

.angular-google-map-container { 
	height: 475px; 
	width: 100%; 
}

.item-complex .item-content{
	padding: 15px;
}

.hide-tabs .has-tabs { bottom: 0px; }

.item.noBorder, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
	border-style: hidden;
}

.backbuttons .button-icon .icon .ion-ios7-arrow-back {
	text: bold;
}